@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet&display=swap");
/*   font-family: "Do Hyeon", sans-serif;
  font-family: "Hahmlet", serif; */

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  min-height: 100vh;
  margin: 0;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-width: 90vw;
  min-height: 90vh;
  padding: 20px;
}

/* .App img {
  width: 100px;
  filter: invert(21%) sepia(99%) saturate(7416%) hue-rotate(352deg)
    brightness(96%) contrast(111%);
} */

/* Home */
.home {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: linear-gradient(115deg, #9f0c36, #1f010b);
}
.title {
  color: #f6f6f6ef;
  font-size: 70px;
  padding-top: 30px;
}
.qatar {
  font-family: "Hahmlet", serif;
  font-size: 60px;
}
.GroupTeam {
  height: 70%;
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
.GroupTeam_team {
  display: flex;
  width: 25%;
  height: 20%;
  font-size: 50px;
  color: #f6f6f6ef;
  margin: 0 1px;
  border-bottom: 5px solid #f6f6f6ef;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.GroupTeam_team img {
  width: 70px;
  border: 1px solid black;
  margin-right: 10px;
}
button {
  all: unset;
}
/* LineUp */
.lineUp {
  width: 700px;
  height: 600px;
  position: relative;
}
.control {
  display: flex;
  justify-content: flex-end;
}
.starting {
  width: 700px;
  height: 550px;
  display: grid;
  align-items: end;
  position: absolute;
  top: 47%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.lineUp .field {
  background-color: #013773;
  width: 700px;
  height: 550px;
  opacity: 0.8;
}
.player {
  display: grid;
  justify-items: center;
  position: relative;
}

.fw {
  display: flex;
  justify-content: space-evenly;
}

.mf {
  display: flex;
  justify-content: space-evenly;
}

.df {
  display: flex;
  justify-content: space-evenly;
}
.gk {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
img {
  width: 95px;
}
.player img.ko {
  filter: invert(23%) sepia(79%) saturate(3727%) hue-rotate(345deg)
    brightness(77%) contrast(129%);
}
select {
  font-family: "Do Hyeon";
  font-size: 15px;
}
.player select {
  width: 73px;
  height: 25px;
  font-size: 15px;
  letter-spacing: 5px;
  border-color: #494949;
  border-radius: 5px;
  border-width: 2px;
  outline: 0 none;
  padding: 1px;
  position: absolute;
  top: 83%;
}
.control select {
  width: 73px;
  height: 25px;
  border-color: #494949;
  border-radius: 5px;
  border-width: 2px;
  outline: 0 none;
  padding: 1px;
}
