@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet&display=swap");
/*   font-family: "Do Hyeon", sans-serif;
  font-family: "Hahmlet", serif; */

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  min-height: 100vh;
  margin: 0;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-width: 90vw;
  min-height: 90vh;
  padding: 20px;
}

.App img {
  width: 100px;
  filter: invert(21%) sepia(99%) saturate(7416%) hue-rotate(352deg)
    brightness(96%) contrast(111%);
}
